{% extends "index.html" %}

{% block container %}
    {% block title %}
        <title>Blog</title>
    {% endblock title %}

    <div class="container px-4 py-5" id="hanging-icons">
        <h1 class="pb-2 border-bottom">Blogs</h1>

        <div class="row">
            {% for blog in AllBlogs %}
                <div class="col-lg-4 mb-4">
                    <a href="/blog/id/{{ blog.id }}" class="card-link">
                        <div class="card h-100 shadow">
                            <img src="{{ blog.coverImage.url }}" class="card-img-top" alt="Blog Cover Image">
                            <div class="card-body">
                                <h5 class="card-title">{{ blog.title|truncatechars:120 }}</h5>
                            </div>
                            <div class="card-footer">
                                <span class="text-muted">Published: {{ blog.datetime|timesince }} ago</span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <style>
        .card-img-top {
            max-height: 200px;
            object-fit: cover;
        }
        
        .card {
            border: none;
            transition: box-shadow 0.3s ease-in-out;
        }
        
        .card:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            transform: translateY(-5px);
        }
        
        .card-footer {
            background-color: #f8f9fa;
            border-top: none;
            padding: 1rem;
            text-align: right;
        }
        
        .card-footer .text-muted {
            margin-right: 10px;
        }
        
        .card-link {
            text-decoration: none;
            color: inherit;
        }
    </style>

{% endblock container %}
